.navbar{
	background-color: #e8d63b;
}
body{
 min-height: 2000px;
  padding-top: 70px;
  background-image: url(../images/restoback.jpg);
}
.logoapp{
	float:left;
	max-width: 120px;
	min-width: 120px;
}
.form-group{
	position: absolute;
	bottom:0px;
	margin-bottom: 0px;
	width: 100%;
	text-align: center;
}
.addPlato{
	width: 100%;
	height: 40px;
	background-color: #e8d63b;
	font-weight: bold;
}
.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    font-family: "Orator Std", "Arial";
    font-size: 25px;
    
}
.backMenu{
	 background: rgba(255, 255, 255, 0.9);
}

.datos-plato{
	position: relative;
	padding-left: 20px;
	padding-right: 20px;
}
.datos-plato > p{
	font-size: 11pt;
	color: gray;
}
.plato{
	background-color: white;
	border-radius: 10px;
	border: 1px #eee;
	max-height: 400px;
	min-height: 400px;
	max-width: 250px;
	padding: 0px;
	margin-left: 10px;
}
.plato-img-cartView{
	min-height: 150px;
	max-height: 150px;
	min-width: 150px;
	max-width: 150px;
}
.plato-img{
	min-height: 175px;
	max-height: 175px;
	display: block;
	width: 100%;
}
.plato-img-modal{
	min-width: 80px;
	max-height: 80px;
	min-height: 80px;
	max-height: 80px;
}
.iconoRegimen{
	max-width: 15px;
}
.labelCart{
	background-color: black;
	color: white;
}
.btnFloat{
	position: fixed;
	 left: 50%;
	 /* bring your own prefixes */
	 transform: translate(-50%, -50%);
	 z-index: 1;
	 bottom: 2%;
	
}
.imgSugerido{
	position: absolute;
	font-size: 10pt;
	background-color: #d23a96;
	color:white;
	right:5px;
	top:5px;
}
.verCarrito{
	background-color: white;	
}
.filterOps {
    margin-top: 49px;
    background-color: #ddd;
    padding:0px;
    max-height: 70px;

}

.menuDiv{
	margin-top:60px;
}

.filter{
	background-color: #eee;
	padding: 10px;
	border-radius: 20px 20px;
	font-size: 9pt;
}
.nofilter{
	padding: 10px;
}
.filter-active{
	background-color: #4e504f;
	color:white;
	padding: 10px;
	border-radius: 20px 20px;
	font-size: 9pt;
}

.qty-select{
	margin-right: 0px;
	width: 100%;
}

.addToCart{
	font-size: 8pt;
	font-weight: bold;
}

.label-precio{
	background-color: white;
	border: 1px solid;
	font-size: 10pt;
	color:black;

}

.pedido-item{

}

li > a:hover > .btn-tipo{
	background-color: none;
	text-decoration: none;
}

.btn-tipo, .btn-reg, .btn-todos {
	padding-right: 5px;
	padding-left: 5px;
	color:black;
}

.filtro-mobile{
	background-color:white;
	opacity: 1;
}

.btnPedir{
	margin-left:40%;
}

.commentText{
	margin-top: 5px;
}
.comment{
	margin-top: 5px;
}
.tableroEspera{
	background-color: white;
	font-size: 14pt;
}
.speech-bubble {
	position: relative;
	background: white;
	border-radius: .4em;
	max-width: 180px;
	padding: 20px;
	border: solid;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: black;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -20px;
}
.chef td {
	font-size: 20px;
}
.chef thead {
	font-size: 23px;
}
.quitar{
	font-size: 8pt;
}
.gly-spin{
	-webkit-animation: color_change 1s infinite alternate;
	-moz-animation: color_change 1s infinite alternate;
	-ms-animation: color_change 1s infinite alternate;
	-o-animation: color_change 1s infinite alternate;
	animation: color_change 1s infinite alternate;
}

@-webkit-keyframes color_change {
	from { background-color: #df5141; }
	to { background-color: #ead0cd; }
}
@-moz-keyframes color_change {
	from { background-color: #df5141; }
	to { background-color: #ead0cd; }
}
@-ms-keyframes color_change {
	from { background-color: #df5141; }
	to { background-color: #ead0cd; }
}
@-o-keyframes color_change {
	from { background-color: #df5141; }
	to { background-color: #ead0cd; }
}
@keyframes color_change {
	from { background-color: #df5141; }
	to { background-color: #ead0cd; }
}
